{% load static %}
{% load bootstrap_icons %}

<nav class="navbar bg-light mb-2">
  <div class="container">
    <a class="navbar-brand" href="/">
      <img src="{% static 'img/logo.png' %}" alt="{% static 'img/no-image.png' %}" width="40" height="40">
    </a>
    <a href="{% url "cart:cart_detail" %}">
      <div class="d-flex flex-column align-items-center">
        <a href="{% url "cart:cart_detail" %}">
          {% bs_icon 'cart4' color='red' size='2rem' %}
        </a>
        {% with total_items=cart|length %}
            {% if total_items > 0 %}
              <small class="text-muted">
                ({{ total_items }} item{{ total_items|pluralize }},
                ${{ cart.get_total_price }})
              </small>
            {% endif %}
      </div>
      {% endwith %}


    </a>
  </div>
</nav>