{% extends 'base.html' %}
{% load static %}

{% block head %}
  <link rel="stylesheet" href="{% static "products/css/index.css" %}">
{% endblock %}

{% block title %}
  Product detail
{% endblock %}

{% block container %}
  <div class="container">
    <div class="card mb-3">
      <div class="row">
        <div class="col-md-4">
          <img src="{% if product.image %}
                    {{ product.image.url }}
                    {% else %}
                      {% static "img/no-image.png" %}
                    {% endif %}"
               class="img-fluid rounded-start product-image-lg"
               alt="no image">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <div class="d-flex justify-content-between">
              <h5 class="card-title">{{ product.name }}</h5>
              {% if product.stock < 3 %}
                <p class="card-text">
                  <span class="badge text-bg-danger ms-5">Only {{ product.stock }} in stock!</span>
                </p>
              {% endif %}
            </div>
            <div class="d-flex align-items-center justify-content-between mt-4">
              <h4 class="card-title">${{ product.price }}</h4>
              <form class="ms-5" action="{% url "cart:cart_add" product.id %}" method="post">
                  <div class="d-flex align-items-center">
                    {{ cart_product_form }}
                    <input type="submit" class="btn btn-success ms-2" value="Add to cart">
                  </div>
                  {% csrf_token %}
              </form>
            </div>
            <hr>
            <p class="card-text">{{ product.description }}</p>
            <div class="d-flex flex-column align-items-start mb-3 me-2">
              <a
                class="btn btn-primary"
                href="{% url "products:products_list" %}"
                role="button"
              >
                Continue shopping
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}