{% extends 'base.html' %}

{% block title %}
  Clients list
{% endblock %}

{% block body %}
  <h1>Clients:</h1>
  <ul>
    {% for client in clients %}
      {% with income=client.details.income %}
      <li>
        <a href="{% url 'clients:details' client.id %}">
          {{ client }}
        </a>
        (birthday on {{ client.birthday }}) with
        {% if income %}
          income ₽{{ income }}
        {% else %}
          no income data
        {% endif %}
      </li>
      {% endwith %}
    {% endfor %}
  </ul>
{% endblock %}
